<div class="flipper">
    <article class="item front" ng-class="{'flip-action-front': item.flip}">
        <div class="item-header">
            <ul photo-slider data-gallery="false" photo-click="goToItem(item.id)">
                <li ng-repeat="photo in item.thumbnails" data-thumb="{{ photo }}" class="knack-slide-item">
                    <a href="" title="{{ item.name }}" class="item-photo ">
                        <img alt="{{ item.name }}" ng-src="{{ photo }}" />
                    </a>
                    <span class="item-price">${{ item.price }}</span>
                    <div class="gradient-layout"></div>
                </li>
            </ul>

            <!-- <div class="item-fav">
                <a class="icon-flip" title="Flip" ng-click="flip(item)">Flip</a>
            </div> -->
        </div>
        <div class="item-content">
            <h2 class="item-title">
                <span ng-if="current_page=='item-offered' || current_page=='marketplace'">
                    <a ui-sref="item-offered-single({id:item.id})" href="">
                        <p>
                            {{ item.name}}
                        </p>
                    </a>
                </span>
                <span ng-if="current_page=='item-wanted'">
                    <a ui-sref="item-wanted-single({id:item.id})" href="">
                        <p>{{ item.name}}</p>
                    </a>
                </span>
            </h2>
            <span class="date-icon"></span>
            <div class="item-date">Posted {{ item.created_at }}</div>
            <span class="dot-separator"></span>
            <div class="item-category">
                <a href="#" title="Technology">{{ item.category_name }}</a>
            </div>
            <div class="item-owner">
                <figure>
                    <a href="/#/public/{{item.owner.username}}"><img ng-src="{{ item.owner.picture }}" alt="{{ item.owner.name }}"></a>
                </figure>
                <div class="owner-meta">
                    <h4><a ng-href="/#/public/{{item.owner.username}}">{{ item.owner.full_name }}</a><span class="owner-status" ng-class="{'on': item.owner.online}"></span></h4>
                    <span>{{ item.owner.college }}</span>
                </div>
            </div>
        </div>
    </article>

    <article class="item back item-profile " ng-class="{'flip-action-back': item.flip}">
        <div class="item-header text-center">
            <figure class="item-avatar">
                <a href="/#/public/{{item.owner.username}}"><img ng-src="{{ item.owner.picture }}" alt="{{ item.owner.full_name }}"></a>
                <span class="owner-status" ng-class="{'on': item.owner.is_online}"></span>
            </figure>
            <a class="profile-name" ng-href="/#/public/{{item.owner.username}}">{{ item.owner.full_name }}</a>
            <div class="profile-item gray-color">{{item.owner.college}}</div>
            <div class="profile-item gray-color">
                {{ item.owner.year }} &middot; {{ item.owner.age }} y/o
            </div>
            <a ng-show="user.profile().id != item.owner.id && user.connected_to(item.owner.id)" class="icon-check active" ng-click="user.disconnect(item.owner);"></a>
            <a ng-show="user.profile().id != item.owner.id && ! user.connected_to(item.owner.id)" class="icon-check" ng-click="user.connect(item.owner);"></a>
            <!-- <a class="icon-flip" ng-click="flip(item)"></a> -->
        </div>
        <div class="item-content">
            <div class="form-group">
                <p class="item-price">${{ item.owner.grand_total }}</p>
                <p class="profile-item">{{ item.owner.created_at }}</p>
            </div>
            <div class="form-group">
                <div class="rating">
                    <div class="ratings-container sm">
                            <span class="ratings-wrapper">
                                <span class="ratings" ng-style="{'width':(item.rating * 100 / 5) + '%'}"></span>
                            </span>
                        <span class="ratings-count gray-color" ng-if="item.rating_count > 0">({{item.rating_count}})</span>
                    </div>
                </div>
                <p class="profile-item">Last seen: {{ item.owner.last_seen }}</p>
            </div>
            <div class="form-group">
                <ul class="connection-list">
                    <li ng-repeat="connection in item.owner.connections | limitTo: 4">
                        <figure><a href="/#/public/{{connection.username}}"><img ng-src="{{ connection.picture || 'images/users/no_avatar.png' }}"></a></figure>
                    </li>
                    <li ng-show="item.owner.connections.length - 4 > 0"><span class="more-connections">{{item.owner.connections.length}}</span></li>
                    <li ng-show="item.owner.connections.length == 0"><span class="more-connections" style="font-size: 12px; font-weight: 400;">0 connections</span></li>
                </ul>
            </div>
        </div>
    </article>
</div>