<!--register-email-modal-->
<form class="agreed-modal-form">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" title="Close"><span aria-hidden="true">&times;</span></button>
        <img class="modal-header-img" src="images/login_logo.png">
    </div><!-- End .modal-header -->
    <div class="modal-body ">
        <div class="font-1 heavy-blue-color ">You've agreed to pay with Cash.</div>
        <div class="font-1 heavy-blue-color">Automn will contact you soon</div>   
    <div class="modal-footer">
        <button type="submit" class="btn btn-custom " ng-click="postFunc()"><strong>CONTINUE KNACKING</strong>
        </button>
    </div><!-- End .modal-footer -->
</form>