<form class="form knack-modal-form" name="postForm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" title="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modallabel">BUSINESS MODEL</h4>
    </div><!-- End .modal-header -->
    <div class="modal-body">
        <div class="form-group">
            <div ng-bind-html="business"></div>
        </div><!-- End .from-group -->
    </div><!-- End .modal-body -->
    <div class="modal-footer">
    </div><!-- End .modal-footer -->
</form>