<form id="knack_modal_form" class="form knack-modal-form" novalidate name="postForm" ng-show="!posted_knack">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" title="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modallabel">{{getModalTitle()}}</h4>
    </div><!-- End .modal-header -->
    <div class="modal-body">
        <!-- <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label class="input-desc">Would you like to be ANONYMOUS?</label>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <div class="radio-button">
                        <input id="anonymous-yes" type="radio" name="anonymous" ng-value="true" ng-model="knack.anonymous">
                        <label for="anonymous-yes"><span></span>YES</label>
                        <input id="anonymous-no" type="radio" name="anonymous" ng-value="false" ng-model="knack.anonymous">
                        <label for="anonymous-no"><span></span>NO</label>
                        <a class="info" ng-click="openAnonymouseInfoModal()"></a>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="form-group" ng-show="knack.anonymous == true">
            <label for="knack-subject" class="input-desc">CHOOSE YOUR USERNAME</label>
            <input type="text" class="form-control input-lg" id="knack-username" ng-model="knack.username" placeholder="&ldquo;e.g. Loving Panda&rdquo;">
        </div><!-- End .from-group -->

        <div class="form-group">
            <label for="knack-subject" class="input-desc" ng-show="knack.type == 'O'">KNACK HEADLINE</label>
            <label for="knack-subject" class="input-desc" ng-show="knack.type == 'W'">JOB HEADLINE</label>
            <input type="text" class="form-control input-lg" id="knack-subject" name="knacksubject" ng-model="knack.name" maxlength="100" placeholder="&ldquo;e.g. I&rsquo;ll help you write an excellent thesis for your paper&rdquo;" required>
            <p class="arrow_box animated" ng-show="(postForm.knacksubject.$invalid && postForm.knacksubject.$dirty) || (postForm.knacksubject.$invalid && showError)">
                Please enter a title for your knack request
            </p>
        </div><!-- End .from-group -->

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="form-group" ng-class="{'ng-invalid':!category_selected}">
                    <label class="input-desc">KNACK CATEGORY</label>
                    <div class="dropdown-box-container">
                        <div class="dropdown-box form-control" ng-init="isCategoriesBoxOpened=false;" ng-class="{'open': isCategoriesBoxOpened == true}" outside-click="isCategoriesBoxOpened=false">
                            <div class="dropdown-box-title" ng-click="isCategoriesBoxOpened = !isCategoriesBoxOpened; category_selected=true">
                                {{category_name}}
                            </div>
                            <div class="dropdown-box-content">
                                <div class="col-md-6 category-item" ng-repeat="category in knackCategories" ng-click="$parent.category_name=category.name;$parent.knack.category=category.id; $parent.isCategoriesBoxOpened=false;">
                                    <div class="radio-button">
                                        <input type="radio" value="{{category.id}}" name="knackCategory" ng-checked="$parent.knack.category==category.id">
                                        <label><span></span>{{category.name}}</label>
                                    </div>
                                </div>
                                <!--
                                <div ng-repeat="category in knackCategories">
                                    <span ng-click="$parent.categoriesBoxTitle=category.name; $parent.knack.category=category.id; $parent.isCategoriesBoxOpened=false">{{category.name}}</span>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                    <p class="arrow_box" ng-if="!category_selected">
                        Please tell us about your knack category
                    </p>
                </div><!-- End .from-group -->
            </div>
        </div>

        <div class="form-group">
            <label for="knack-message" class="input-desc" ng-show="knack.type == 'O'">TELL US MORE ABOUT WHAT YOU DO</label>
            <label for="knack-message" class="input-desc" ng-show="knack.type == 'W'">TELL US MORE</label>
            <div class="textarea-wrapper">
                <textarea id="knack-message" name="knackmessage" cols="30" rows="2" class="form-control" ng-model="knack.description" placeholder="&ldquo;e.g. Busy working this week? No time to research + write your paper? I'm an experienced English TA, and writing coach who's fun, affordable + available to help help you with your essays and papers. Juts message to get started!&rdquo;" required></textarea>
                <figure class="textarea-icon first">
                    <i class="icon-camera"></i>
                    <input type="file" class="fileupload" image="cropperImages[0]" fd-input>
                </figure>
                <p class="arrow_box" ng-if="(postForm.knackmessage.$invalid && postForm.knackmessage.$dirty) || (postForm.knackmessage.$invalid && showError)">
                     Tell us more about your service
                </p>
                <!--
                <a href="#" class="textarea-icon last" title="Video">
                    <i class="icon-video-camera"></i>
                </a>
                -->
            </div><!-- End .textarea-wrapper -->
        </div><!-- End .from-group -->

        <div class="row">
            <div class="col-xs-12 col-md-7">
                <div class="form-group" ng-class="{'ng-invalid': !photo_selected}">
                    <label for="knack-message" class="input-desc">UPLOAD UP TO FIVE IMAGES</label>
                    <div class="upload-image active">
                        <img ng-src="{{ cropperImages[0] || knack.photo0 || '//:0' }}" width="46px" height="46px" style="vertical-align: initial;">
                        <input id="photo0" type="file" class="fileupload" image="cropperImages[0]" fd-input>
                    </div>
                    <div class="upload-image">
                        <img ng-src="{{cropperImages[1] || knack.photo1 || '//:0' }}" width="46px" height="46px" style="vertical-align: initial;">
                        <input id="photo1" type="file" class="fileupload" image="cropperImages[1]" fd-input>
                    </div>
                    <div class="upload-image">
                        <img ng-src="{{ cropperImages[2] || knack.photo2 || '//:0' }}" width="46px" height="46px" style="vertical-align: initial;">
                        <input id="photo2" type="file" class="fileupload" image="cropperImages[2]" fd-input>
                    </div>
                    <div class="upload-image">
                        <img ng-src="{{ cropperImages[3] || knack.photo3 || '//:0' }}" width="46px" height="46px" style="vertical-align: initial;">
                        <input id="photo3" type="file" class="fileupload" image="cropperImages[3]" fd-input>
                    </div>
                    <div class="upload-image">
                        <img ng-src="{{ cropperImages[4] || knack.photo4 || '//:0' }}" width="46px" height="46px" style="vertical-align: initial;">
                        <input id="photo4" type="file" class="fileupload" image="cropperImages[4]" fd-input>
                    </div>
                    <p class="arrow_box" ng-if="!photo_selected">
                        Please upload at least one image
                    </p>
                </div>
            </div>
            <!-- <div class="col-xs-12 col-md-5" ng-show="knack.type == 'O'">
                <div class="form-group">
                    <label for="knack-message" class="input-desc">PITCH YOUR KNACK in 20 secs</label>
                    <a class="upload-video">(UPLOAD A VIDEO)</a>
                    <a class="info" ng-click="openInfoModal()"></a>
                </div>
            </div> -->
        </div>

        <div class="form-group">
            <label for="knack-schedule" class="input-desc">WHAT'S YOUR SCHEDULE LIKE?</label>
            <input type="input" id="knack-schedule" name="knackschedule" ng-model="knack.schedule" class="form-control input-lg" placeholder="&ldquo;e.g. I have class in the morning so anytime after 2pm is good&rdquo;" required>
            <p class="arrow_box" ng-if="(postForm.knackschedule.$invalid && postForm.knackschedule.$dirty) || (postForm.knackschedule.$invalid && showError)">
                 Please tell us what you're schedule looks like
            </p>
        </div><!-- End .from-group -->

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label for="knack-schedule" class="input-desc" ng-show="knack.type == 'O'">ARE YOU WILLING TO TRAVEL?</label>
                    <label for="knack-schedule" class="input-desc" ng-show="knack.type == 'W'">DO YOU NEED THIS SERVICE DELIVERED?</label>
                    <div class="radio-button">
                        <input id="willing-yes" type="radio" name="willing" ng-value="true" ng-model="knack.willing_to_travel">
                        <label for="willing-yes"><span></span>YES</label>
                        <input id="willing-no" type="radio" name="willing" ng-value="false" ng-model="knack.willing_to_travel">
                        <label for="willing-no"><span></span>NO</label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6" ng-show="knack.willing_to_travel">
                <div class="form-group">
                    <label for="knack-schedule" class="input-desc">HOW FAR?</label>
                    <div class="dropdown-box-container">
                        <div class="dropdown-box form-control" ng-init="isMilesBoxOpened=false;" ng-class="{'open': isMilesBoxOpened == true}" outside-click="isMilesBoxOpened=false">
                            <div class="dropdown-box-title" ng-click="isMilesBoxOpened = !isMilesBoxOpened">{{knack.miles}}</div>
                            <div class="dropdown-box-content">
                                <div ng-click="$parent.knack.miles=m.name; $parent.isMilesBoxOpened=false;" ng-repeat="m in milesCategories"><span>{{m.name}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-xss-12">
                <div class="form-group">
                    <label for="knack-price" class="input-desc" ng-show="knack.type == 'O'">WHAT IS YOUR RATE?</label>
                    <label for="knack-price" class="input-desc" ng-show="knack.type == 'W'">HOW MUCH WILL YOU PAY?</label>
                    <input type="number" name="knackprice" class="form-control input-lg" id="knack-price" ng-model="knack.price" required step="0.01">
                    <p class="arrow_box" ng-if="postForm.knackprice.$invalid && showError">
                         Please tell us how much you're willing to pay
                    </p>
                </div><!-- End .from-group -->
            </div><!-- End .col-xs-6 -->
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label for="knack-price" class="input-desc" ng-show="knack.type == 'O'">HOW DO YOU CHARGE?</label>
                    <label for="knack-price" class="input-desc" ng-show="knack.type == 'W'">HOW WILL YOU BILL?</label>
                    <div class="dropdown-box-container">
                        <div class="dropdown-box form-control" ng-init="isFeeBoxOpened=false;" ng-class="{'open': isFeeBoxOpened == true}" outside-click="isFeeBoxOpened=false">
                            <div class="dropdown-box-title" ng-click="isFeeBoxOpened = !isFeeBoxOpened" ng-show="knack.how_charge == 'Flat Fee'">Flat</div>
                            <div class="dropdown-box-title" ng-click="isFeeBoxOpened = !isFeeBoxOpened" ng-show="knack.how_charge == 'Hourly'">HR</div>
                            <div class="dropdown-box-content" ng-show="isFeeBoxOpened">
                                <div ng-click="$parent.knack.how_charge=type.name; $parent.isFeeBoxOpened=false" ng-repeat="type in chargeType"><span>{{type.name}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End .col-xs-6 -->
        </div><!-- End .row -->

    </div><!-- End .modal-body -->
    <div class="modal-footer">
        <button type="submit" class="btn btn-lg btn-custom btn-block" ng-click="save_knack()">
            <strong>{{getSubmitButtonTitle()}}</strong>
            <i class="icon-plus" ng-show="action=='create'"></i>
        </button>
    </div><!-- End .modal-footer -->
</form>
<form class="agreed-modal-form" ng-show="posted_knack">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" title="Close"><span aria-hidden="true">&times;</span></button>
        <img class="modal-header-img" src="images/login_logo.png">
    </div><!-- End .modal-header -->
    <div class="modal-body ">
        <div ng-show="knack.type=='O'">
            <div class="font-1 heavy-blue-color ">Awesome!</div>
            <div class="font-1 heavy-blue-color">You'll get a message as soon as </div>
            <div class="font-1 heavy-blue-color">someone wants to hire you!</div>
        </div>
        <div ng-show="knack.type=='W'">
            <div class="font-1 heavy-blue-color ">Great!</div>
            <div class="font-1 heavy-blue-color">Knackers will contact you shortly  </div>
            <div class="font-1 heavy-blue-color">about your request.</div>
        </div>
    </div><!-- End .modal-body -->
    <div class="modal-footer">
        <button type="submit" class="btn btn-custom " ng-click="createMoreKnacks()">
            <strong ng-show="knack.type=='O'">Create More Knacks</strong>
            <strong ng-show="knack.type=='W'">Request More Knacks!</strong>
            <i class="icon-plus"></i>
        </button>
    </div><!-- End .modal-footer -->
</form>