<form class="register-modal-form">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" title="Close"><span aria-hidden="true">&times;</span></button>
        <img class="modal-header-img" src="images/login_logo.png"/>
        <h4 class="modal-title" id="modallabel4" ng-hide="isGoToFeed">Welcome Back! <span class="ext-text">We missed you.</span></h4>
        <h4 class="modal-title" id="modallabel4" ng-show="isGoToFeed">Welcome!</h4>
    </div><!-- End .modal-header -->
    <div class="modal-body register-modal-body">
        <div class="form-group">
            <div class="well" ng-show="message">
                {{ message }}
            </div>
        </div>
        <!-- <div class="form-group">
            <button type="button" class="btn btn-lg btn-lg-facebook btn-block" ng-click="socialLogin()">
                <img src="images/fb-lg.png"/><strong>Login with Facebook</strong></button>
        </div> -->
        <div class="form-group input-info-wrapper">
            <!-- <div class="font-3 text-label">or login with your email</div> -->
            <input type="email" class="form-control input-lg register-input" placeholder="enter your .edu email" iid="login-email" ng-model="user.email" required>
            <input type="password" class="form-control input-lg register-input " placeholder="Password" id="login-pass" ng-model="user.password" required>
        </div><!-- End .from-group -->

    </div><!-- End .modal-body -->
    <div class="modal-footer">
        <button type="submit" class="btn btn-lg btn-custom btn-block" ng-click="login()"><strong>LOGIN</strong></button>
        <h5 class="pull-left"><a class="modal-link" ng-click="forgotPasswordModal()">Forgot Your Password?</a></h5>
        <h5 class="pull-right">Not a member? <a class="modal-link modal-link-pink" ng-click="registerModal()">Get Started Free</a></h5>
    </div><!-- End .modal-footer -->
</form>