<div class="modal fade vcenter-modal" id="reset-modal" tabindex="-1" role="dialog" aria-labelledby="modallabel3">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="#">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modallabel3">Password Reset</h4>
                        </div><!-- End .modal-header -->
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="reset-email" class="input-desc">Email <span class="ext-desc">It must be <strong>.edu</strong> email <a href="#" title="Use .edu email!" data-toggle="popover" data-content="Please ask your school to get an email with .edu extansion and use it to login!" data-placement="left" data-trigger="hover"><img src="images/modal-qmark.png" alt="Mark"></a></span></label>
                                <input type="email" class="form-control input-lg" id="reset-email" required>
                            </div><!-- End .from-group -->

                        </div><!-- End .modal-body -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-lg btn-custom btn-block"><strong>SUBMIT</strong></button>
                        </div><!-- End .modal-footer -->
                    </form>
                </div><!-- End .modal-content -->
            </div><!-- End .modal-dialog -->
        </div><!-- End .modal -->