<!--register-email-modal-->
<form class="agreed-modal-form">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" title="Close"><span aria-hidden="true">&times;</span></button>
        <img class="modal-header-img" src="images/login_logo.png">
    </div><!-- End .modal-header -->
    <div class="modal-body ">
        <div class="font-1 heavy-blue-color ">Thank you for joining Uknack!</div>
        <div class="font-1 heavy-blue-color">Please check your email to get started. And explore Knacks should link to knacks page.</div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-custom " ng-click="postFunc()"><strong>EXPLORE UKNACK</strong>
        </button>
    </div><!-- End .modal-footer -->
</form>