            <div class="page-header bg-image" style="background-image: url(images/headers/header7.jpg)">
                <div class="overlay"></div><!-- End overlay -->
                <div class="header-box">
                    <h1>Turn Your Talent Into Your Business</h1>
                </div><!-- End .header-box -->
            </div><!-- End .page-top -->

            <div class="hired-section">
                <div class="center-container">
                    <p class="lead full text-center"><strong>Uknack lets you earn good money by doing what you’re good at. The process is simple. Students tell us what they’d like to get done and you choose which jobs you’d like to do (for free). If it looks like a good fit, you can respond with a custom quote and work out details with the student.</strong></p>
                    
                    <div class="work-steps">
                        <h2 class="title text-center">How does Uknack Work?</h2>
                        <div class="step-row">
                            <figure class="step-image">
                                <img src="images/1.png" alt="step 1" class="wow zoomIn">
                            </figure>
                            <div class="step-content">
                                <h3 class="title">Students post jobs to our board</h3>
                                <ul class="dot-list">
                                    <li>Students visit Uknack looking to hire classmates to help them get things done</li>
                                    <li>They answer specific questions about their needs availability and payment.</li>
                                    <li>After that, they post their jobs to our board where you can see and accept it.</li>
                                </ul>
                            </div><!-- end .step-content -->
                        </div><!-- end .step-row -->

                        <div class="step-row">
                            <figure class="step-image">
                                <img src="images/2.png" alt="step 2" class="wow zoomIn">
                            </figure>
                            <div class="step-content">
                                <h3 class="title">Choose jobs you like best</h3>
                                <ul class="dot-list">
                                    <li>Open jobs can be seen by anyone on our board. If you see a job you’d like to do, you can send students a message or price quotes.</li>
                                    <li>Buyers will see your proposal, profile, past work, reviews and respond if you’re the best candidate. </li>
                                    <li>When you’ve hashed out the details with the buyer, just accept the job, and it’s yours!</li>
                                </ul>
                            </div><!-- end .step-content -->
                        </div><!-- end .step-row -->

                        <div class="step-row">
                            <figure class="step-image">
                                <img src="images/3.png" alt="step 3" class="wow zoomIn">
                            </figure>
                            <div class="step-content">
                                <h3 class="title">Complete jobs &amp; get paid</h3>
                                <ul class="dot-list">
                                    <li>When you’re hired, complete your job and let us know when it’s completed.</li>
                                    <li>Your buyer will give you a rating and will also write a review about your work.</li>
                                    <li>Once you’ve completed the job, you’ll get paid directly into your bank account.</li>
                                </ul>
                            </div><!-- end .step-content -->
                        </div><!-- end .step-row -->
                    </div><!-- End .work-steps -->


                    <div class="hired-container">
                        <h2 class="title text-center">How do I get hired?</h2>
                        <div class="hired-box">
                            <span class="hired-icon icon-profile"></span>
                            <h3 class="title">Build a winning profile</h3>
                            <p>Students are looking for talented peers. Your profile is where you show them that you're the one for the job. Make an emotional connection with the customer by adding a photo of yourself – be sure to smile! Show what you can do by including images and videos of your past work. Consider using a professional photographer to really show off your work. Then, demonstrate your expertise and credentials by describing your experience and skills. And build trust by adding a professional license, degree, or linking to your website and social media profiles.</p>
                        </div><!-- End .hired-box -->

                        <div class="hired-box">
                            <span class="hired-icon icon-envelope"></span>
                            <h3 class="title">Write pleasant and professional messages</h3>
                            <p>Your message is the customer's first impression of you. Make it a good one! Be sure to address any issues the customer raised and respond to their specific needs. Set competitive prices and be clear about what your price includes and what you can or cannot do. Finally, pay attention to the little things: address the customer by name, make sure not to make spelling or grammar mistakes, and be friendly and pleasant with everyone (you never know who you’ll meet!)</p>
                        </div><!-- End .hired-box -->

                        <div class="hired-box">
                            <span class="hired-icon icon-wallet"></span>
                            <h3 class="title">Give reasonable estimates</h3>
                            <p>Students are more likely to hire knackers who provide a basic idea of their price. Your quote doesn't have to be a final number; it can change as you learn more about the job. But always tell customers exactly what your quote includes. Then let customers know how the price may change and what the variables are. If applicable, offer to match other knacker’s prices for the same tasks. Or if you quoted a higher price than industry norm, explain why. Be reasonable, no one likes a price gouger!</p>
                        </div><!-- End .hired-box -->

                        <div class="hired-box">
                            <span class="hired-icon icon-heart"></span>
                            <h3 class="title">Ask customers to write a review</h3>
                            <p>Knackers with at least 1 review are 100% more likely to be hired than ones with no reviews. Having more reviews makes you more likely to be hired. Customers say that reviews are a major factor in their decision of who to hire. Take the time to ask your customers to write reviews. Nobody is perfect 100% of the time. In fact, research has shown that reviews that are not 100% positive are more credible.</p>
                        </div><!-- End .hired-box -->

                        <div class="hired-box">
                            <span class="hired-icon icon-circle"></span>
                            <h3 class="title">Don’t give up!</h3>
                            <p>Many knackers have made steady income by simply responding consistently to customer requests. For a majority of knackers, it takes more than 5 tries to get their first hire. You can succeed, too – by being persistent and experimenting to see what works. Write quirky messages; ignore requests you don’t like, and learn what works best for you..</p>
                        </div><!-- End .hired-box -->
                    </div><!-- End .hired-container -->
                </div><!-- End .center-container -->
            </div><!-- End .hired-section -->

            <div class="callout-section pb-larger bg-image" style="background-image:url('images/pink-bg.jpg')">
                <div class="center-container">
                    <h3>It’s Not a Job. It’s a Journey</h3>
                    <p>If you’re anything like us, then you’ve probably had a bunch of jobs (and maybe you still do). Having a job is good, loving your job is even better. Uknack is a great way to discover what you’re good at by helping your friends and classmates get things done. College is one of the most exciting times of our lives, and with Uknack, we can make the most of these times, together.</p>
                </div><!-- End .center-container -->
            </div><!-- End .callout-section -->
            
            <div class="logo-section">
                <div class="container">
                    <div class="row logo-container">
                        <a href="#" title="Harvard University">
                            <img src="images/logos/harvard.png" alt="Harvard">
                        </a>
                        <a href="#" title="Notheastern University">
                            <img src="images/logos/north.png" alt="Notheastern">
                        </a>
                        <a href="#" title="Suffolk University">
                            <img src="images/logos/suffolk.png" alt="Suffolk">
                        </a>
                        <a href="#" title="Mit">
                            <img src="images/logos/mit.png" alt="Mit">
                        </a>
                        <a href="#" title="Emerson College">
                            <img src="images/logos/emerson.png" alt="Emerson">
                        </a>
                        <a href="#" title="Boston University">
                            <img src="images/logos/boston.png" alt="Boston">
                        </a>
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .logo-section -->
