            <div class="page-header bg-image" style="background-image: url(images/headers/header8.jpg)">
                <div class="overlay"></div><!-- End overlay -->
                <div class="header-box">
                    <h1>Social Entrepreneurship for the <br> Social Generation </h1>
                </div><!-- End .header-box -->
            </div><!-- End .page-top -->
            
            <div class="economy-section">
                <div class="center-container">
                    <p class="lead text-center">Together with members of the college community, Uknack is building a more authentic, human and sustainable online marketplace where every student feels encouraged and supported to start their own businesses. </p>
                </div><!-- End .center-container -->

                <div class="econ-image-row">
                    <div class="econ-image-big">
                        <img src="images/economy/center-img1.png" alt="image">
                    </div>
                    <div class="econ-image-content">
                        <img src="images/economy/empty.png" alt="image">
                        <div>
                            <h3>Welcome to the “Uknack Economy”</h3>
                            <p>In the Uknack Economy, creative college entrepreneurs can create fun and fulfilling jobs by selling items and services to local College communities, where thoughtful consumers can discover those items and services and build lasting relationships with their classmates who create and sell them.</p>
                        </div>
                    </div>
                    <div class="econ-image-small">
                        <img src="images/economy/center-img2.png" alt="image">
                        <img src="images/economy/center-img3.png" alt="image">
                    </div>
                </div><!-- End .econ-image-row -->

                <div class="center-container smaller">
                    <div class="econ-row">
                        <div class="econ-content">
                            <p>A Uknack economy empowers and encourages artists, designers and makers to start and grow their very own businesses. </p>
                        </div><!-- End .econ-content -->
                        <figure class="econ-image">
                            <img src="images/economy/img1.png" alt="image" class="wow zoomIn">
                        </figure>
                    </div><!-- econ-row -->

                    <div class="econ-row">
                        <figure class="econ-image">
                            <img src="images/economy/img2.png" alt="image" class="wow zoomIn">
                        </figure>
                        <div class="econ-content">
                            <p>It’s a social marketplace that connects buyers and sellers around the college community to connect, engage and do good business together. </p>
                        </div><!-- End .econ-content -->
                    </div><!-- econ-row -->

                    <div class="econ-row">
                        <div class="econ-content">
                            <p>By building and supporting our local economy, we hope to inspire students to discover their passions, create fulfilling jobs and lead happier and more hopeful lives. </p>
                        </div><!-- End .econ-content -->
                        <figure class="econ-image">
                            <img src="images/economy/img3.png" alt="image" class="wow zoomIn">
                        </figure>
                    </div><!-- econ-row -->
                </div><!-- End .center-container -->
            </div><!-- End .economy-section -->

            <div class="callout-section v3 bg-image" style="background-image:url('images/pink-bg.jpg')">
                <div class="center-container">
                    <h3>Making Good with Good Business</h3>
                    <p>We believe in the transformative power of good business, Good business can inspire practices that are sustainable, humane, and profitable for everyone involved. Uknack is proud to support excellent college entrepreneurs who wish to use their businesses as a way to make a difference in the world.</p>
                    <hr>
                    <h3>See 10 ways your business can make a difference </h3>
                    <a href="#" class="btn btn-lger btn-white">READ THE ARTICLE</a>
                </div><!-- End .center-container -->
            </div><!-- End .callout-section -->
            
            <div class="logo-section">
                <div class="container">
                    <div class="row logo-container">
                        <a href="#" title="Harvard University">
                            <img src="images/logos/harvard.png" alt="Harvard">
                        </a>
                        <a href="#" title="Notheastern University">
                            <img src="images/logos/north.png" alt="Notheastern">
                        </a>
                        <a href="#" title="Suffolk University">
                            <img src="images/logos/suffolk.png" alt="Suffolk">
                        </a>
                        <a href="#" title="Mit">
                            <img src="images/logos/mit.png" alt="Mit">
                        </a>
                        <a href="#" title="Emerson College">
                            <img src="images/logos/emerson.png" alt="Emerson">
                        </a>
                        <a href="#" title="Boston University">
                            <img src="images/logos/boston.png" alt="Boston">
                        </a>
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .logo-section -->
