            <div class="page-header bg-image" style="background-image: url(images/headers/header2.jpg)">
                <div class="overlay"></div><!-- End overlay -->
                <div class="header-box">
                    <h1>A Place to Do Business with Classmates</h1>
                </div><!-- End .header-box -->
            </div><!-- End .page-top -->

            <div class="about-section">
                <div class="center-container">
                    <h2 class="lead-title text-center">What’s Uknack? </h2>
                    <p class="lead text-center">Uknack lets college students discover things they’re good at and hone them into useful skills, so they can create fun and fulfilling businesses with them. </p>

                    <div class="about-row">
                        <div class="about-row-content">
                            <h2 class="title">Buy unique Goods</h2>
                            <ul class="dot-list">
                                <li>Discover helpful items and services in over 30+ categories</li>
                                <li>Search services by college, category, name, age and price</li>
                                <li>Hire the best knackers to help you get things done on campus</li>
                            </ul>
                        </div><!-- End .about-row-content -->
                        <figure class="about-row-image">
                            <img src="images/about/browser1.png" alt="browser" class="wow fadeInRight">
                        </figure><!-- End .about-row-image -->
                    </div><!-- End .about-row -->

                    <div class="about-row">
                        <div class="about-row-content">
                            <h2 class="title">Sell Creative Services</h2>
                            <ul class="dot-list">
                                <li>Open a Uknack Shop with just your .edu email address and your imagination</li>
                                <li>Earn good money doing the things you love, where and when you want to do it</li>
                                <li>Get paid directly in your bank account and keep 100% of what you earn</li>
                            </ul>
                        </div><!-- End .about-row-content -->
                        <figure class="about-row-image">
                            <img src="images/about/browser2.png" alt="browser" class="wow fadeInRight">
                        </figure><!-- End .about-row-image -->
                    </div><!-- End .about-row -->

                    <div class="about-row">
                        <div class="about-row-content">
                            <h2 class="title">Support College Entrepreneurs</h2>
                            <ul class="dot-list">
                                <li>Connect, buy and support local student shops, stores and businesses</li>
                                <li>Get in touch directly with buyers and sellers around the college community</li>
                                <li>Join Uknack to collaborate with local and likeminded student entrepreneurs </li>
                            </ul>
                        </div><!-- End .about-row-content -->
                        <figure class="about-row-image">
                            <img src="images/about/browser3.png" alt="browser" class="wow fadeInRight">
                        </figure><!-- End .about-row-image -->
                    </div><!-- End .about-row -->
                </div><!-- End .center-container -->
            </div><!-- End .about-section -->

            <div class="callout-section bg-image" style="background-image:url('images/pink-bg.jpg')">
                <div class="center-container">
                    <h3>Business with Classmates You Trust</h3>
                    <p>In college, we do everything together. We live together, study together, party together, and come together to celebrate each other’s successes. We created Uknack as the perfect place where we can all come together to buy, sell and support each other’s businesses.</p>
                </div><!-- End .center-container -->
            </div><!-- End .callout-section -->
            
            <div class="logo-section">
                <div class="container">
                    <div class="row logo-container">
                        <a href="#" title="Harvard University">
                            <img src="images/logos/harvard.png" alt="Harvard">
                        </a>
                        <a href="#" title="Notheastern University">
                            <img src="images/logos/north.png" alt="Notheastern">
                        </a>
                        <a href="#" title="Suffolk University">
                            <img src="images/logos/suffolk.png" alt="Suffolk">
                        </a>
                        <a href="#" title="Mit">
                            <img src="images/logos/mit.png" alt="Mit">
                        </a>
                        <a href="#" title="Emerson College">
                            <img src="images/logos/emerson.png" alt="Emerson">
                        </a>
                        <a href="#" title="Boston University">
                            <img src="images/logos/boston.png" alt="Boston">
                        </a>
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .logo-section -->
