            <div class="page-header bg-image" style="background-image: url(images/headers/header6.jpg)">
                <div class="overlay"></div><!-- End overlay -->
                <div class="header-box">
                    <h1>A Few Rules to Keep In Mind</h1>
                </div><!-- End .header-box -->
            </div><!-- End .page-top -->

            <div class="guidelines-section">
                <div class="center-container">
                    <p class="lead text-center">Uknack is a  driven by a few core values: honesty, trust and good business. We want everyone who uses Uknack to enjoy their experience, and we’ve got a few rules that we hope you’ll keep in mind along the way.</p>

                    <ul class="guide-list">
                        <li><span class="guide-icon icon-1"></span>We prohibit goods and services that are illegal, federally regulated, illicit, or otherwise dangerous to members of our community.</li>
                        <li><span class="guide-icon icon-2"></span>Any good or service claiming to cure, treat, alieve or prevent an illness or medical condition, or purports to do so through any means.</li>
                        <li><span class="guide-icon icon-3"></span>Any fraudulent selling tactics, i.e.: exaggerating the qualities of a product or service, selling imitations as the genuine article, or hiding the negative aspects of products or services.</li>
                        <li><span class="guide-icon icon-4"></span>Offensive materials (i.e. prejudicial paraphernalia, hate speech, racism, materials encouraging violence against women, others, etc.)</li>
                        <li><span class="guide-icon icon-5"></span>Offering alcohol (beers, brews, wines, spirits, etc.,) to members under 21 years of age.</li>
                        <li><span class="guide-icon icon-6"></span>Drugs: pills (prescription or designer) narcotics, nicotine, tobacco, hallucinogens, spliffs, vaporizers, or any apparatus that may be used in administering or consuming illegal substances.</li>
                        <li><span class="guide-icon icon-7"></span>Selling suggestive services, including: escorting, phone sex, vid-cams, prostitution, porn and other sexual offers.</li>
                        <li><span class="guide-icon icon-8"></span>Weapons, replicas of weapons, or any materials that may aid in the construction of weapons and weapon accessories. </li>
                    </ul>

                    <p class="lead text-center mb0">If your item or service involves something illegal, regulated, or potentially harmful to members of our community and it is not on this list, please contact us before requesting or posting it on Uknack.</p>
                </div><!-- End .center-container -->
            </div><!-- End .guidelines-section -->
            
            <div class="logo-section">
                <div class="container">
                    <div class="row logo-container">
                        <a href="#" title="Harvard University">
                            <img src="images/logos/harvard.png" alt="Harvard">
                        </a>
                        <a href="#" title="Notheastern University">
                            <img src="images/logos/north.png" alt="Notheastern">
                        </a>
                        <a href="#" title="Suffolk University">
                            <img src="images/logos/suffolk.png" alt="Suffolk">
                        </a>
                        <a href="#" title="Mit">
                            <img src="images/logos/mit.png" alt="Mit">
                        </a>
                        <a href="#" title="Emerson College">
                            <img src="images/logos/emerson.png" alt="Emerson">
                        </a>
                        <a href="#" title="Boston University">
                            <img src="images/logos/boston.png" alt="Boston">
                        </a>
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .logo-section -->
