            <div class="page-header bg-image" style="background-image: url(images/headers/header4.jpg)">
                <div class="overlay"></div><!-- End overlay -->
                <div class="header-box">
                    <h1>Here’s How Uknack Works...</h1>
                </div><!-- End .header-box -->
            </div><!-- End .page-top -->

            <div class="howto-section">
                <div class="container">
                    <h2 class="text-center">Make money doing what you’re good at<span>in 3 simple steps</span></h2>

                    <div class="howto-row">
                        <div class="howto-content wow fadeInUp">
                            <h3 class="title">1. Post Your Knack</h3>
                            <p>Post services you’re good at and get found by classmates near you</p>
                            <a ui-sref="knack-offered" class="btn btn-custom7 btn-lg">START KNACKING</a>
                        </div><!-- End .howto-content -->
                        <figure class="howto-image">
                            <img src="images/how/browser3.png" alt="Browser">
                        </figure><!-- End .howto-image -->
                    </div><!-- End .howto-row -->

                    <div class="howto-row">
                        <figure class="howto-image">
                            <img src="images/how/browser2.png" alt="Browser">
                        </figure><!-- End .howto-image -->
                        <div class="howto-content wow fadeInUp">
                            <h3 class="title">2. Get hired</h3>
                            <p>If classmates like what you do, they’ll hire you to get things done</p>
                            <a ui-sref="knack-wanted" class="btn btn-custom7 btn-lg">GET HIRED</a>
                        </div><!-- End .howto-content -->
                    </div><!-- End .howto-row -->

                    <div class="howto-row">
                        <div class="howto-content wow fadeInUp">
                            <h3 class="title">3. Get Paid Instantly</h3>
                            <p>Keep 100% of what you make with Venmo, Paypal or with cash</p>
                            <a href="#" class="btn btn-custom7 btn-lg">START EARNING</a>
                        </div><!-- End .howto-content -->
                        <figure class="howto-image">
                            <img src="images/how/browser1.png" alt="Browser">
                        </figure><!-- End .howto-image -->
                    </div><!-- End .howto-row -->
                </div><!-- End .container -->
            </div><!-- End .howto-section -->

            <div class="callout-section callout-category bg-image" style="background-image:url('images/pink-bg.jpg')">
                <div class="center-container">
                    <h3>What Do You Love To Do?</h3>
                    <p>Start fun and fulling businesses in these categories</p>
                    <div class="category-list-container">
                        <div class="row">
                            <div class="col-5">
                                <ul class="category-list">
                                    <li><a href="#">UAssist</a></li>
                                    <li><a href="#">UBeauty</a></li>
                                    <li><a href="#">UBiz</a></li>
                                    <li><a href="#">UCars</a></li>
                                    <li><a href="#">UClean</a></li>
                                    <li><a href="#">UDeliver</a></li>
                                </ul>
                            </div><!-- End .col-5 -->
                            <div class="col-5">
                                <ul class="category-list">
                                    <li><a href="#">UDesign</a></li>
                                    <li><a href="#">UErrands</a></li>
                                    <li><a href="#">UEvents</a></li>
                                    <li><a href="#">UFashion</a></li>
                                    <li><a href="#">UFilms</a></li>
                                    <li><a href="#">UFitness</a></li>
                                </ul>
                            </div><!-- End .col-5 -->
                            <div class="clearfix visible-xs"></div><!-- clearfix -->
                            <div class="col-5">
                                <ul class="category-list">
                                    <li><a href="#">UFood</a></li>
                                    <li><a href="#">UHandy</a></li>
                                    <li><a href="#">UHealth</a></li>
                                    <li><a href="#">UHome</a></li>
                                    <li><a href="#">ULaw</a></li>
                                    <li><a href="#">ULove</a></li>
                                </ul>
                            </div><!-- End .col-5 -->
                            <div class="clearfix visible-sm"></div><!-- clearfix -->
                            <div class="col-5">
                                <ul class="category-list">
                                    <li><a href="#">UMedia</a></li>
                                    <li><a href="#">UMusic</a></li>
                                    <li><a href="#">UParty</a></li>
                                    <li><a href="#">UPets</a></li>
                                    <li><a href="#">URepair</a></li>
                                    <li><a href="#">URides</a></li>
                                </ul>
                            </div><!-- End .col-5 -->
                            <div class="clearfix visible-xs"></div><!-- clearfix -->
                            <div class="col-5">
                                <ul class="category-list">
                                    <li><a href="#">URooms</a></li>
                                    <li><a href="#">UStudy</a></li>
                                    <li><a href="#">UTasks</a></li>
                                    <li><a href="#">UTech</a></li>
                                    <li><a href="#">UTravel</a></li>
                                    <li><a href="#">UWrite</a></li>
                                </ul>
                            </div><!-- End .col-5 -->
                        </div><!-- End .row -->
                    </div><!-- End .category-list-container -->
                </div><!-- End .center-container -->
            </div><!-- End .callout-section -->
            
            <div class="logo-section">
                <div class="container">
                    <div class="row logo-container">
                        <a href="#" title="Harvard University">
                            <img src="images/logos/harvard.png" alt="Harvard">
                        </a>
                        <a href="#" title="Notheastern University">
                            <img src="images/logos/north.png" alt="Notheastern">
                        </a>
                        <a href="#" title="Suffolk University">
                            <img src="images/logos/suffolk.png" alt="Suffolk">
                        </a>
                        <a href="#" title="Mit">
                            <img src="images/logos/mit.png" alt="Mit">
                        </a>
                        <a href="#" title="Emerson College">
                            <img src="images/logos/emerson.png" alt="Emerson">
                        </a>
                        <a href="#" title="Boston University">
                            <img src="images/logos/boston.png" alt="Boston">
                        </a>
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .logo-section -->

